.social-link {
  background-image: url(#{$img-url}/common/buttons.png);
  width:90px;
  height: 79px;
  background-repeat: no-repeat;
  /*transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: linear;*/
  display: inline-block;
  overflow: hidden;
}

.social-link.facebook {
  background-position: 0 0;
  &:hover {
    background-position: 0 -79px;
  }
}

.social-link.instagram {
  background-position: -90px 0;
  &:hover {
    background-position: -90px -79px;
  }
}

.ghost-button {
  width:100%;
  height:100%;
}
