html, body, #root {
  margin: 0;
  height: 100%;
  font-family: $main-font;
  background-color: $white;
  font-size: 1.3em;
}

body, h1, h2, h3 {
  font-weight: 300
}

body {
  padding-top: 60px;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

p {
  width:100%;
  display: block;
  text-align: center;
}

header {
  width: 100%;
  height: 120px;
  display: block;
  z-index: 5;
  position: fixed;
  top: 0;
  left:0;
}

.main-container {
  display: block;
  min-height: 100%;
}
.main {
  display: block;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5em;
  padding: 1rem;
  color: $black;
  font-weight: 900;
  font-size: 2em;
}
.title-h1 {
  font-weight: 300;
  font-size: 4rem;
  margin: 1rem;
}
.title-logo {
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}
.title-h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: .5rem;
}

.row {
  width:100%;
  display: block;
  clear: both;
  background-color: transparent;
  margin: 0 auto;
}

.row-960 {
  @extend .row;
  max-width: 960px;
}

.gray-background {
  background-color: $light-gray;
}

.spacer {
  width: 100%;
  display: block;
  clear: both;
  height: 25px;
}

.content {
  width:94%;
  padding: 0 3%;
  display: block;
}

.handed {
  cursor: pointer;
}

.icon {
  background-image: url(#{$img-url}/common/icons.png);
  background-repeat: no-repeat;
  width:40px;
  height:36px;
  display: block;
  margin: 10px auto;
}

.icon.phone {
  background-position: -44px 0;
}

.icon.at {
  background-position: 3px 0;
}


@include respond-to('medium'){
  body {
    padding-top: 120px;
  }
}
