.service {
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 300;
  font-family: inherit;

  .mobile-image {
    display: block;
  }

  .desktop-image {
    display: none;
  }

  img {
    width:80%;
    max-width: 300px;
    height: auto;
    margin: 20px auto;
    display: block;
  }

  .services-title{
    font-weight: 900;
    font-size: 20px;
    width: 100%;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    display: block;
    margin-bottom: 22px;
  }

  .services-content {
    width: 96%;
    text-align: center;
    padding: 0 2%;
    color: $dark-gray;
  }
}

.service.odd {
  @extend .service;
}

@include respond-to('small'){
  .service {
    img {
      max-width: 400px;
      margin-left: 0;
      margin-right: auto;
    }
    .services-content {
      text-align: right;
    }

    .mobile-image {
      display: none;
    }

    .desktop-image {
      display: block;
    }
  }

  .service.odd {
    img {
      max-width: 400px;
      margin-right: 0;
      margin-left: auto;
    }
    .services-content {
      text-align: left;
    }
  }
}
