.footer {
  font-size: 1rem;
  text-align: center;
  color: $black;
  margin-top: 50px;

  a, a:hover, a:visited {
    color:$dark-gray;
    text-decoration: none;
    outline: none;
    font-weight: 300;
    transition: color 0.3s linear;

    &:hover{
      color: $black;
    }
  }

  p {
    line-height: 1.5em;
  }

  .center-column {
    padding-top:20px;
    padding-bottom: 20px;

    p {
      width:90%;
      margin:0 auto;
      border-left: 1px solid $light-gray;
      border-right: 1px solid $light-gray;
    }
  }
}

.footer-logo {
  width:100%;
  height: auto;
  display: block;

  img {
    width: 100%;
    height: auto;
    max-width: 180px;
    margin:10px auto;
  }
}
