<div class="main-menu {{ extraClass }}">
  <div class="desktop-menu pure-g">
    <div class="pure-u-1 pure-u-md-9-24">
      <div class="pure-g">
        <div class="pure-u-1-2">
          <a href="/nosotros" class="desktopMenuItem" target="_self">Nosotros</a>
        </div>
        <div class="pure-u-1-2">
          <a href="/servicios" class="desktopMenuItem" target="_self">Servicios</a>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-6-24">
      <div class="main-logo">
        <img [src]="headImage" alt="Ragoo Creative" />
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-9-24">
      <div class="pure-g">
        <div class="pure-u-1-2">
          <a href="/equipo" class="desktopMenuItem" target="_self">Equipo</a>
        </div>
        <div class="pure-u-1-2">
          <a href="/contacto" class="desktopMenuItem" target="_self">Contacto</a>
        </div>
      </div>
    </div>
    <div class="bottom-decoration"></div>
  </div>
  <div class="mobile-menu">
    <div id="mobileMenu" class="open" (click)="toggleMenu()" [ngClass]="{'oppenned': openedMenu }">
    	<span class="cls"></span>
    	<span>
    		<ul class="sub-menu ">
    			<li>
    				<a href="/nosotros" title="about">Nosotros</a>
    			</li>
    			<li>
    				<a href="/servicios" title="skills">Servicios</a>
    			</li>
    			<li>
    				<a href="/equipo" title="jobs">Equipo</a>
    			</li>
    			<li>
    				<a href="/contacto" title="contact">Contacto</a>
    			</li>
    		</ul>
    	</span>
    	<span class="cls"></span>
    </div>
  </div>
</div>
