<div class="main-container">
  <header></header>
  <div class="row">
    <div class='box'>
      <div class='wave -one'></div>
      <div class='wave -two'></div>
      <div class='wave -three'></div>
      <div class='wave -four'></div>
      <div class='wave -five'></div>
      <div class='home-slider-title'>
        <img class="home-slider-image" src="/app/img/home/ragoo-creative.png"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row-960">
      <div class="title">Nosotros</div>
      <div class="content">
        <p>
          Dominamos los medios digitales,<br/>
          sabemos de estrategias y conocemos las tendencias.<br/>
          Le damos presencia a tu marca, la posicionamos<br/>
          y hasta hacemos que tus ideas quepan en un tuit.
        </p>
        <div class="spacer"></div>
        <p>
          <img src="/app/img/home/mouse.png" class="home-service" />
          <img src="/app/img/home/bamboo.png" class="home-service"/>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row-960">
      <div class="title">Servicios</div>
      <div class="pure-g handed" (click)="navToServices()">
        <div class="pure-u-1 pure-u-sm-1-2">
          <div class="view services-item" style="background-image:url(/app/img/home/services/strategy.jpg);">
          	<div class="mask"></div>
            <div class="title">Estrategias</div>
          	<div class="content">
          		<h2>Estrategias</h2>
          		<p>Logramos cumplor las metas de tus campañas a través de KPI's.</p>
          	</div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2">
          <div class="view services-item" style="background-image:url(/app/img/home/services/design.jpg);">
          	<div class="mask"></div>
            <div class="title">Diseño web</div>
          	<div class="content">
          		<h2>Diseño web</h2>
          		<p>Diseñamos tu aplicación web basados en las tendencias más novedosas.</p>
          	</div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2">
          <div class="view services-item" style="background-image:url(/app/img/home/services/branding.jpg);">
          	<div class="mask"></div>
            <div class="title">Branding</div>
          	<div class="content">
          		<h2>Branding</h2>
          		<p>Mejoramos la presencia de tu marca.</p>
          	</div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2">
          <div class="view services-item" style="background-image:url(/app/img/home/services/photo.jpg);">
          	<div class="mask"></div>
            <div class="title">Foto y Video</div>
          	<div class="content">
          		<h2>Foto y Video</h2>
          		<p>Ajustamos el contenido visual a tu campaña.</p>
          	</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row-960">
      <div class="title">Marcas</div>
      <div class="content">
        <p>
          Nuestro equipo ha colaborado con estas marcas<br/>¡la tuya tiene que estar aquí!<br/><br/>
        </p>
      </div>
    </div>
  </div>
  <div class="row gray-background">
    <div class="row-960">
      <div class="pure-g">
        <div class="pure-u-1-2 pure-u-sm-1-3 brand">
          <img src="/app/img/home/brands/bodega-aurrera.png" />
        </div>
        <div class="pure-u-1-2 pure-u-sm-1-3 brand">
          <img src="/app/img/home/brands/mercado-pago.png" />
        </div>
        <div class="pure-u-1-2 pure-u-sm-1-3 brand">
          <img src="/app/img/home/brands/walmart.png" />
        </div>
        <div class="pure-u-1-2 pure-u-sm-1-3 brand">
          <img src="/app/img/home/brands/marvel.png" />
        </div>
        <div class="pure-u-1-2 pure-u-sm-1-3 brand">
          <img src="/app/img/home/brands/grisi.png" />
        </div>
        <div class="pure-u-1-2 pure-u-sm-1-3 brand">
          <img src="/app/img/home/brands/nike.png" />
        </div>
        <div class="pure-u-1-2 pure-u-sm-1-3 brand">
          <img src="/app/img/home/brands/tuenti.png" />
        </div>
        <div class="pure-u-1-2 pure-u-sm-1-3 brand">
          <img src="/app/img/home/brands/la-voz-mexico.png" />
        </div>
        <div class="pure-u-1-2 pure-u-sm-1-3 brand">
          <img src="/app/img/home/brands/espn.png" />
        </div>
      </div>
    </div>
  </div>
  <footer-component></footer-component>
</div>
