<div class="main-container">
  <header></header>

  <div class="row">
    <div class="row-960">
      <div class="title">Servicios</div>
      <div class="content">
        <p>
          Conectamos a los consumidores con tu marca.<br/>
          Trabajamos en equipo para construir estrategias que generan productos con propósito, escencia y estilo.
        </p>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </div>
  </div>

  <div class="row">
    <div class="row-960 pure-g service odd">
      <div class="pure-u-1 pure-u-sm-2-3">
        <div class="services-title">Estrategias Digitales</div>
        <div class="services-content">
          Comunicamos con audiencias por medio de las virtudes de tu marca; teniendo un porqué, creamos los recursos ideales para tu presencia en redes sociales.
        </div>
      </div>
      <div class="pure-u-1 pure-u-sm-1-3">
        <img src="/app/img/services/social.png" alt="Estrategias digitales" />
      </div>
    </div>
    <div class="row-960 pure-g service">
      <div class="pure-u-1 pure-u-sm-1-3 desktop-image">
        <img src="/app/img/services/mac.png" alt="web design" />
      </div>
      <div class="pure-u-1 pure-u-sm-2-3">
        <div class="services-title">Diseño Web</div>
        <div class="services-content">
          Creamos una combinación de imágenes y textos ideales para que tu identidad se refleje en un sitio web.
        </div>
      </div>
      <div class="pure-u-1 pure-u-sm-1-3 mobile-image">
        <img src="/app/img/services/mac.png" alt="web design" />
      </div>
    </div>
    <div class="row-960 pure-g service odd">
      <div class="pure-u-1 pure-u-sm-2-3">
        <div class="services-title">Branding</div>
        <div class="services-content">
          No sólo te posicionamos dentro del mercado, también desarrollamos tus ideas, conceptos y productos para construir tu marca.
        </div>
      </div>
      <div class="pure-u-1 pure-u-sm-1-3">
        <img src="/app/img/services/docs.png" alt="Branding" />
      </div>
    </div>
    <div class="row-960 pure-g service">
      <div class="pure-u-1 pure-u-sm-1-3 desktop-image">
        <img src="/app/img/services/lenses.png" alt="Foto y video" />
      </div>
      <div class="pure-u-1 pure-u-sm-2-3">
        <div class="services-title">Foto y video</div>
        <div class="services-content">
          Creamos material audiovisual con las imágenes, espacios y ángulos que tu marca necesita.
        </div>
      </div>
      <div class="pure-u-1 pure-u-sm-1-3 mobile-image">
        <img src="/app/img/services/lenses.png" alt="Foto y video" />
      </div>
    </div>
  </div>

  <footer-component></footer-component>
</div>
