<div class="main-container" (window:resize)="onResize($event)">
  <header></header>

  <div class="row">
    <div class="row-960">
      <div class="title">Equipo</div>
      <div class="content">
        <p>
          Ponle cara a nuestros mails, teléfonos y redes sociales.<br/>
          ¡Conócenos!
        </p>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </div>
  </div>

  <div class="row">
    <div class="row-960 pure-g team" id="member_1">
      <div class="pure-u-1 pure-u-sm-1-3">
        <div class="team-member-holder">
          <div class="team-member-background"></div>
          <div class="team-member" style="background-image:url(/app/img/team/emmanuel.jpg);" [ngStyle]="{width: boxSize + 'px', height: boxSize + 'px'}"></div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-sm-2-3 team-content-desktop">
        <div class="team-description">
          <div class="team-head">
            Emmanuel García Gamma<br/>
            Director Creativo<br/>
            <a href="mailto:emmanuel@ragoo.mx">emmanuel@ragoo.mx</a></div>
          <div class="team-content">
            Mis pasiones se resumen en tres palabras: música, fotografía, y futbol. Soy un amante de la música en todos sus sentidos: me gusta escuchar, tocar, conocer, explorar y ver música. Fotógrafo instagramero y Chiva de corazón. También soy fan de una buena película en el cine y de las largas pláticas triviales con amigos acompañadas de café, vino o cerveza.<br/>
            Hogareño; coleccionista de vinilos y películas.
          </div>
        </div>
      </div>
      <div class="pure-u-1 team-content-mobile">
        Mis pasiones se resumen en tres palabras: música, fotografía, y futbol. Soy un amante de la música en todos sus sentidos: me gusta escuchar, tocar, conocer, explorar y ver música. Fotógrafo instagramero y Chiva de corazón. También soy fan de una buena película en el cine y de las largas pláticas triviales con amigos acompañadas de café, vino o cerveza.<br/>
        Hogareño; coleccionista de vinilos y películas.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row-960 pure-g team pair" id="member_2">
      <div class="pure-u-1 pure-u-sm-1-3 team-pair-image">
        <div class="team-member-holder">
          <div class="team-member-background"></div>
          <div class="team-member" style="background-image:url(/app/img/team/gersain.jpg);" [ngStyle]="{width: boxSize + 'px', height: boxSize + 'px'}"></div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-sm-2-3 team-content-desktop">
        <div class="team-description">
          <div class="team-head">
            Gersain Jornado López Alamán<br/>
            Director de Arte<br/>
            <a href="mailto:gersain@ragoo.mx">gersain@ragoo.mx</a></div>
          <div class="team-content">
            La fotografía siempre ha sido mi pasión. He sido fotógrafo de conciertos en muchos medios impresos y digitales. Por supuesto, también soy amante de la música, americanista de hueso colorado, Yankee de corazón y fan de los Lakers por convicción.<br/>
            De gustos simples: paseos en bicicleta, la carne asada y la buena cerveza. Sin duda, soy amplio conocedor de la ciudad y de lugares inimaginables.
          </div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-sm-1-3 team-pair-image-desktop">
        <div class="team-member-holder">
          <div class="team-member-background"></div>
          <div class="team-member" style="background-image:url(/app/img/team/gersain.jpg);" [ngStyle]="{width: boxSize + 'px', height: boxSize + 'px'}"></div>
        </div>
      </div>
      <div class="pure-u-1 team-content-mobile">
        La fotografía siempre ha sido mi pasión. He sido fotógrafo de conciertos en muchos medios impresos y digitales. Por supuesto, también soy amante de la música, americanista de hueso colorado, Yankee de corazón y fan de los Lakers por convicción.<br/>
        De gustos simples: paseos en bicicleta, la carne asada y la buena cerveza. Sin duda, soy amplio conocedor de la ciudad y de lugares inimaginables.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row-960 pure-g team" id="member_3">
      <div class="pure-u-1 pure-u-sm-1-3">
        <div class="team-member-holder">
          <div class="team-member-background"></div>
          <div class="team-member" style="background-image:url(/app/img/team/daniel.jpg);" [ngStyle]="{width: boxSize + 'px', height: boxSize + 'px'}"></div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-sm-2-3 team-content-desktop">
        <div class="team-description">
          <div class="team-head">
            Jorge Daniel Hernández Chávez<br/>
            Director de Cuentas<br/>
            <a href="mailto:daniel@ragoo.mx">daniel@ragoo.mx</a></div>
          <div class="team-content">
            "La amistad abre fronteras" es el lema que guía mi vida.<br/>
            Siempre he creído que si todos nos brindáramos apoyo se pierde la complejidad de las cosas y así lo he aplicado en mi vida profesional.<br/>
            Me he desarrollado como parte de equipo de ventas integradas en shows en vivo para cadenas de deportes. Mis objetivos y emprendimientos siempre están ligados al trabajo en equipo y están creados con el afán de seguir el lema que guía mi vida y la de mis socios.
          </div>
        </div>
      </div>
      <div class="pure-u-1 team-content-mobile">
        La fotografía siempre ha sido mi pasión. He sido fotógrafo de conciertos en muchos medios impresos y digitales. Por supuesto, también soy amante de la música, americanista de hueso colorado, Yankee de corazón y fan de los Lakers por convicción.<br/>
        De gustos simples: paseos en bicicleta, la carne asada y la buena cerveza. Sin duda, soy amplio conocedor de la ciudad y de lugares inimaginables.
      </div>
    </div>
  </div>

  <footer-component></footer-component>
</div>
